
table { 
    width: 100%; border-collapse: collapse; margin-top: 20px; }
            
th, td { padding: 8px; border: 1px solid #ddd }

th { background-color: #f2f2f2; }

.hidden { display: none; }    

.acoes{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.icone-btn{
    cursor: pointer;
    font-size: 16px;
    background: none;
    border: none;
}

.input.inline-edit{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 6px;
}

.editando {
    background-color:#f9f9f9;
}

.campo_editavel_1{
    padding: 0%;
}

.campo_complemento{
    flex: 1;
}

.campo_complemento_e_botoes{
    display:flex;
}

.container_campo_complemento{
    display: flex;
}